/*
ðŒðšð¢ð§ ð‚ð’ð’
*/

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Campton Book', sans-serif;
    font-size: 14px;
    height: 100%;
    max-width: 100%;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}

a:focus, button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}


/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.bg-light {
    background-color: transparent !important;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

img.nav_logo {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

ul.da_navbar {
    display: contents;
    top: 5px;
    z-index: 7;
}

li.nav-item {
    margin-right: 32px;
}

li.nav-item:last-child {
    margin-right: 0;
}

li.nav-item a {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000 !important;
}

li.nav-item > a.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.143rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 130px;
    height: 46px;
    background: #000000;
    color: #ffffff !important;
    border-radius: 10px;

    transition: all 0.44s ease-in-out;
}

li.nav-item > a.nav-btn:hover {
    background: rgba(0, 0, 0, 0.68);
    color: #ffffff !important;
}



.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {color: #000000;}

li.nav-item > a:after {
    content: '';
    display: block;
    height: 2px;
    background: #FCB94D;
    transform: scaleX(0);
    transition: transform .3s;
}
li.nav-item > a:hover:after {
    transform: scaleX(0.5);
    transition: transform .3s;
}
.active {
    color: #FCB94D !important;
}

/* Hamburger menu animation assets */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {background: #f5f5f5;}

.animated-icon1 span:nth-child(1) {top: 0;}

.animated-icon1 span:nth-child(2) {top: 10px;}

.animated-icon1 span:nth-child(3) {top: 20px;}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.navbar-light .navbar-toggler {border: none !important;}
.navbar-toggler:focus {box-shadow: none !important;}

.dimmer {
    filter: brightness(0.2);
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.da_header_area {
    min-height: 755px;
    height: auto;
    width: 100%;

    background: linear-gradient(114.35deg, #E2EBEB 19.07%, #FCF7EE 72.51%);
    border-radius: 0 0 20px 20px;
}

.h_banner {
    display: block;
    position: relative;
    top: 250px;
    z-index: 2;
}

.h_banner h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 4.514rem;
    line-height: 1;
    color: #000000;
    text-align: left;
    margin-bottom: 22px;
}

.h_banner h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
    text-align: left;
}

.main_cta_button_holder {
    padding-top: 36px;
}

a.hero_cta_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.143rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 200px;
    height: 60px;

    background: linear-gradient(109.05deg, #FCB94D 56.37%, #03B64D 147.46%);
    border-radius: 10px;

    background-size: 200% 200%;
    background-position: -1px 50%;

    transition: all 0.44s ease-in-out;
}

a.hero_cta_btn:hover {
    background-position: 99% 50%;
}

img.hc_hero_pic {
    position: relative;
    top: 130px;
    width: 100%;
    height: 500px;
    object-fit: contain;

    flex: none;
    order: 0;
    flex-grow: 0;
}




/* ============= */
/* =========== PARTNERS =========== */
/* ============= */

.partners_area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 230px;
    height: auto;
    width: 100%;
    background: #ffffff;
}

.partner-logo {
    filter: grayscale(100%);
    width: 100%;
    max-height: 36px; /* Adjust this height as needed */
    object-fit: contain; /* Ensures the logo scales proportionally */
    object-position: center;
}




/* ============= */
/* =========== ABOUT =========== */
/* ============= */

.about_area {
    position: relative;
    min-height: 720px;
    height: auto;
    width: 100%;
    padding: 88px 0 88px 0;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(180deg, #F9F9F9 0%, #F4F7F7 97.03%);

}











