/*
ðŒðžðð¢ðš ðð®ðžð«ð¢ðžð¬
*/

/* ============= */
/* =========== NAV + HEADER =========== */
/* ============= */

@media screen and (max-width: 991px){
    #daNavCollapse {
        background: rgba(255, 255, 255, 0.98);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 22px;
    }

    .bg-light {height: initial;}
    ul.da_navbar {display: inline-block;}
    li.nav-item {margin-bottom: 8px; margin-right: 0;}

    li.nav-item > a:hover:after {transform: scaleX(1);}

    li.nav-item > a.nav-btn {
        display: inline-block;
        font-size: 1rem;
        font-weight: 500;
        color: #000000 !important;
        width: initial;
        height: initial;
        background: none;
    }

    li.nav-item > a.nav-btn:hover {
        color: #000000 !important;
        background: none;
    }

    .h_banner {
        top: 130px;
    }

    .h_banner h1 {text-align: center;}
    .h_banner h2 {text-align: center;}

    .main_cta_button_holder {display: flex; justify-content: center;}

    img.hc_hero_pic {
        top: 170px;
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 767px){
    .h_banner h1 {font-size: 3.4rem;}
    .h_banner h2 {font-size: 1.3rem;}
}

@media screen and (max-width: 414px){
    .da_header_area {min-height: 800px;}
}

@media screen and (max-width: 340px){
    .h_banner h1 {font-size: 2.8rem;}
    .h_banner h2 {font-size: 1.2rem;}
}



/* ============= */
/* =========== PARTNERS =========== */
/* ============= */




































